@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-Regular.eot"),
    url("/src/fonts/zona/ZonaPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Regular.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Regular.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-Bold.eot"),
    url("/src/fonts/zona/ZonaPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Bold.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Bold.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-SemiBold.eot"),
    url("/src/fonts/zona/ZonaPro-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-SemiBold.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-SemiBold.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro Ultra";
  src: url("/src/fonts/zona/ZonaPro-Ultra.eot"),
    url("/src/fonts/zona/ZonaPro-Ultra.eot?#iefix") format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Ultra.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Ultra.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-Black.eot"),
    url("/src/fonts/zona/ZonaPro-Black.eot?#iefix") format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Black.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Black.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-Light.eot"),
    url("/src/fonts/zona/ZonaPro-Light.eot?#iefix") format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Light.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Light.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro Hairline";
  src: url("/src/fonts/zona/ZonaPro-Hairline.eot"),
    url("/src/fonts/zona/ZonaPro-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Hairline.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Hairline.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-ExtraBold.eot"),
    url("/src/fonts/zona/ZonaPro-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-ExtraBold.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-ExtraBold.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("/src/fonts/zona/ZonaPro-Thin.eot"),
    url("/src/fonts/zona/ZonaPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("/src/fonts/zona/ZonaPro-Thin.woff2") format("woff2"),
    url("/src/fonts/zona/ZonaPro-Thin.woff") format("woff"),
    url("/src/fonts/zona/ZonaPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// evol

@font-face {
  font-family: "Evolventa";
  src: url("/src/fonts/evolventa/Evolventa-Regular.otf") format("otf"),
    url("/src/fonts/evolventa/Evolventa-Regular.ttf") format("ttf"),
    url("/src/fonts/evolventa/Evolventa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Evolventa";
  src: url("/src/fonts/evolventa/Evolventa-Bold.otf") format("otf"),
    url("/src/fonts/evolventa/Evolventa-Bold.ttf") format("ttf"),
    url("/src/fonts/evolventa/Evolventa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
