// Body
$body-bg: #ffffff;
$grey: #374751;
$white: #ffffff;
$greyBorder: #9B9B9B;
$purple: #7B33E8;
$black: #000000;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1635px,
// );
